.tl-timeline {
	background-color: #F6592F;
}

.tl-timegroup .tl-timegroup-message {
	
	color: black;
}
.tl-timemarker .tl-timemarker-content-container 
.tl-timemarker-content.tl-timemarker-content-small .tl-timemarker-text h2.tl-headline{
	color: black;
}
.tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-icon, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-icon, .tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description {
    color: black;
    opacity: .6;
    text-shadow: 0px 0px 0px #000000;
}

